// addon colors

// table
html 
  height: 100%
body 
  background-color: $body-bg
  font-size: 14px
a 
  color: $theme


.content-area
  padding: 0 30px 30px 286px
  height: 100vh
  display: flex
  flex-direction: column
  transition: all ease-in-out .2s
  -webkit-transition: all ease-in-out .2s
  -moz-transition: all ease-in-out .2s
  -ms-transition: all ease-in-out .2s
  .content-wrapper
    padding: 48px
    background-color: $white

