.btn
  padding-left: 20px
  padding-right: 20px
  &.btn-primary
    background-color: $theme
  &.btn-danger
    background-color: $red
  &.btn-black
    background-color: $black
    color: $white
  &.btn-success
    background-color: $green
    color: $white
  &.disabled
    background-color: $text-grey-light
  &.rounded
    border-radius: 90px !important


.switch
  position: relative
  display: inline-block
  width: 48px
  height: 24px
  &:focus
    outline: none
    box-shadow: none
    border: none
  .slider
    position: absolute
    cursor: pointer
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: $border-table
    -webkit-transition: .4s
    transition: .4s
    &:focus
      outline: none
      box-shadow: none
      border: none
    &:before
      position: absolute
      content: ""
      height: 20px
      width: 20px
      left: 2px
      bottom: 2px
      background-color: white
      -webkit-transition: .4s
      transition: .4s
    &.round
      border-radius: 34px
      &:before
        border-radius: 50%

  input
    opacity: 0
    width: 0
    height: 0
    &:checked + .slider
      background-color: $theme
      &:before
        -webkit-transform: translateX(24px)
        -ms-transform: translateX(24px)
        transform: translateX(24px)
    &:focus + .slider
      box-shadow: none