.form-control
  border-color: $border-input
  &:focus
    box-shadow: none
    outline: none
  &::placeholder
    color: $text-grey-light
    opacity: 1

  &:-ms-input-placeholder
    color: $text-grey-light

  &::-ms-input-placeholder
    color: $text-grey-light
  &.rounded
    border-radius: 90px !important;
.option-wrapper
  min-width: 220px
  margin-bottom: -8px;
  select
    matgin-bottom: 0
    margin-left: 0px
    &.form-control
      font-weight: 600
      padding: 0;
      border: none
      color: $black
.option-wrapper
  margin: 0;
  font-weight: 400;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  .form-control
    height: 30px;

  &:after
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    @include translateY(-50%)
    border: 5px solid transparent
    border-top: 5px solid $black
    width: 0
    height: 0
    z-index: 3

  &:before
    content: "";
    width: 30px
    height: 28px
    background-color: $white;
    position: absolute;
    top: 1px;
    right: 2px;
    z-index: 2;
    pointer-events: none;
    border-radius: 90px !important;

  .select
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 10px;
    &:focus
      outline: none;
.btn
  &.dropdown-select
    text-align: left
    border: 1px solid $border-input
    height: 30px
    padding-left: 20px
    padding-right: 20px
    line-height: 18px;
    font-size: 14px;
    border-radius: 90px;
    &:after
      content: "\e900";
      position: absolute;
      top: 50%;
      right: 15px;
      @include translateY(-50%)
      font-size: 20px
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      border: none

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      z-index: 2;
      color: $theme
.dropdown
  .dropdown-menu
    border: none
    min-width: 215px
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);