.table
  margin-bottom: 30px
  th, td
    border-top: none
    border-bottom: 1px solid $border-color
    padding: 20px 20px 18px 20px
    position: relative
    font-size: 14px;
    padding-right: 60px
    .edit
      color: $theme
      position: absolute
      top: 20px
      right: 20px
      font-size: 14px
      font-weight: 400
  td
    &:nth-child(1)
      font-weight: 600
      .form-wrapp
        display: inline-block
        margin-left: 20px;
        margin-bottom: -5px
        .form-group
          margin-bottom: 0
      .checkbox-wrapp
        display: inline-block
        margin-left: 20px;
        .custom-control-label
          font-weight: 400
          color: $text-grey
      p
        font-weight: 400
        color: $text-grey
    &:nth-child(2)
      color: $text-grey
    p
      display: block;
    p
      margin-bottom: 5px;
      &:last-child
        margin-bottom: 0
    .text-danger
      display: inline-block
      margin-left: 10px
    table
      tr
        td
          padding: 20px 20px 20px 0
          font-size: 14px;
          font-weight: 700
          font-weight: 600
          color: $black
          border-bottom: none
          vertical-align: middle
          &.no-padding
            padding: 0 0 10px 0
          &:first-child
            width: 60%
            p
              font-weight: 400
              color: $text-grey
            a
              font-weight: 400
          .show
            vertical-align: middle
            margin-left: 15px
            display: inline-block
            font-weight: 400
    .btn-join
      vertical-align: middle
      margin-left: 15px
      display: inline-block
      font-weight: 400
  thead
    th
      border-bottom: 1px solid $border-color
      font-size: 20px
      vertical-align: top
      &:first-child
        width: 20%
        @media (max-width: 1280px)
          width: 33.33333%
      .edit
        top: 20px
        +translateY(0)
  &.sm
    thead
      th
        font-size: 12px
        padding-top: 10px
        padding-bottom: 8px
    tr
      td
        padding-top: 10px
        padding-bottom: 8px
    &.display
      margin-top: 20px
      thead
        th
          text-transform: uppercase
          padding: 20px 8px 18px 8px;
          @media (max-width: 1280px)
            font-size: 10px;
          &:before
            content: "\e903";
            font-family: 'icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            top: 21px
            right: 6px

            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          &:after
            content: "\e900";
            font-family: 'icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            bottom: 21px
            right: 6px

            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
      tbody
        td
          font-size: 12px
          line-height: 18px
          padding: 20px 8px 18px 8px;
          @media (max-width: 1280px)
            font-size: 10px;


//datatables
.dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate
  display: none
